WEB_UI_PORT=8080
WEB_DOMAIN=
CONTROL_PLANE_SSH_PORT=2222
RSSH_PORT=2222
RSSH_EXTERNAL_ADDRESS=192.168.1.1:2222 # change to your own host
RSSH_ADVERTISED_ADDRESSES=eth0=192.168.1.1,lo0=127.0.0.1 # change to your own host
POSTGRES_DB=rssh
POSTGRES_USER=rssh
POSTGRES_PASSWORD=rssh

WEB_USER=admin
WEB_ADMIN_PASSWORD=change-me # CHANGE PASSWORD
SEED_AUTHORIZED_KEYS='' # ADD YOUR SSH KEY
WEB_RUNTIME_SSH_PORT_START=2300
WEB_RUNTIME_SSH_PORT_END=2399
WEB_RUNTIME_AGENT_PORT_START=2400
WEB_RUNTIME_AGENT_PORT_END=2499
WEB_RUNTIME_AGENT_HOST=host.docker.internal
WEB_RUNTIME_PUBLISHED_HOST=192.168.1.1 # change to your own host
WEB_RUNTIME_BIND_IP=0.0.0.0
